@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
  background: linear-gradient(90.63deg, rgba(255, 255, 255, 0.3) 1.78%, rgba(255, 255, 255, 0.1) 97.84%, rgba(255, 255, 255, 0.1) 97.84%);
  backdrop-filter: blur(30px);
  border-radius: 0px 0px 15px 15px;
}