@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
  background: linear-gradient(177.26deg, rgba(9, 8, 10, 0.8) 0.19%, rgba(9, 8, 10, 0.5) 100%) !important;
  -webkit-backdrop-filter: blur(60px) !important;
  backdrop-filter: blur(60px) !important;
}